[submodule "extensions/rust"]
	path = extensions/rust
	url = https://github.com/biscuit-extensions/rust.git
[submodule "extensions/clangd"]
	path = extensions/clangd
	url = https://github.com/biscuit-extensions/clangd
